<table class="table table-bordered">
<tr>
	<td></td>
	<td>Title</td>
	<td>Rating</td>
	<td>Release Date</td>
	<td>Certification</td>
	<td>Genres</td>
	<td></td>
</tr>
<% @result.each do |movie| %>
<tr>

<% movie_info = @movies.find_movie_by_id(movie["imdb_id"].to_s) %>

<% if movie_info.poster_url %>
	<% agent = Mechanize.new %>
	<% agent.get("#{movie_info.poster_url}").save "app/assets/images/#{movie["imdb_id"].to_s}.jpg" %>
	<td>
		<%= image_tag("#{movie["imdb_id"].to_s}.jpg", :class => 'img-polaroid', :width => "75") %>
	</td>
<% else %>
	<td>
		<img src="http://placehold.it/75x50"/>
	</td>
<% end %>

<td><span class="label label-info"><%= movie_info.title %></span></td>
<td><span class="label label-info"><%= movie_info.rating %></span></td>
<% date = DateTime.parse(movie_info.release_date) %>
<td><span class="label label-info"><%=  formatted_date = date.strftime('%B %m, %Y ')%></span></td>
<td><span class="label label-info"><%= movie_info.certification %></span></td>
<td><% movie_info.genres.each do |genre| %> <span class="label label-info"><%= genre %></span> <% end %> </td>
<td>
	<%= form_tag movie_results_path, :method => 'get' do %>
    <p>
        <%= hidden_field_tag(:movie, movie["imdb_id"].to_s) %>
        <%= submit_tag 'Read More', :name => nil, :class => "btn btn-info" %>
    </p>
    <% end %>
</td>
</tr>
<% end %>
</table>

<%= will_paginate @result, :renderer => BootstrapPagination::Rails %>