<style>
   /* custom player skin */
   .flowplayer { width: 80%; background-color: #222; background-size: cover; max-width: 800px; }
   .flowplayer .fp-controls { background-color: rgba(0, 0, 0, 0.4)}
   .flowplayer .fp-timeline { background-color: rgba(0, 0, 0, 0.5)}
   .flowplayer .fp-progress { background-color: rgba(219, 0, 0, 1)}
   .flowplayer .fp-buffer { background-color: rgba(249, 249, 249, 1)}
   .flowplayer { background-image: url("assets/movie/<%= @movie.imdb_id %>.jpg")}

</style>
<link rel="stylesheet" type="text/css" href="http://releases.flowplayer.org/5.3.2/skin/minimalist.css" />
<script src="http://releases.flowplayer.org/5.3.2/flowplayer.min.js"></script>
<div class="row-fluid">
	<div class="span9">
		<div class="row-fluid">
			<div class="span12 well">
				<h1><%= @movie.title %></h1> <br />
				<h4><%= @movie.tagline %></h4> <br />
				<%= @movie.plot %> <br />
				<h2>Directors</h2> <br />
				<% @movie.directors.each do |director| %> <%= director.name %> <% end %><br />
				<h2>Writers</h2> <br />
				<% @movie.writers.each do |writer| %> <%= writer.name %> <% end %> <br />
				<h2>Actors</h2> <br />
				<% @movie.actors.each do |actor| %> <%= actor.name %> as <%= actor.role %> <br /><% end %> 
				<h2>Trailers</h2> <br />
				<% @movie.trailers.each do |trailer| %> 

					<b><%= trailer[0] %></b><br />
					<div data-swf="http://releases.flowplayer.org/5.3.2/flowplayer.swf" class="flowplayer no-toggle" data-ratio="0.416">
      				<video>
      					<source type="video/mp4" src="<%= trailer[1] %>"/>
      				</video>
   				</div><br /> 
				<% end %> <br />



			</div>
		</div>
	</div>

      <div class="span3">
        <div class="row-fluid">
          <div class="span12 well">
            <div>
              <ul class="nav nav-list author">
              	<%= image_tag("movie/#{@movie.imdb_id}.jpg", :class => 'img-polaroid') %>
                <li class="nav-header">Movie Name: </li>
                <%= @movie.title %>
                <li class="nav-header">Certification: </li>
                <%= @movie.certification %>
                <li class="nav-header">Release Date: </li>
                <% date = DateTime.parse(@movie.release_date) %>
                <%=  formatted_date = date.strftime('%B %m, %Y ')%>
                <li class="nav-header">Run-time: </li>
                <%= @movie.runtime %>
                <li class="nav-header">IMDB Rating: </li>
                <%= @movie.rating %>
                <li class="nav-header">Genre: </li>
                <% @movie.genres.each do |genre| %> <span class="label label-info"><%= genre %></span> <% end %> 
              </ul>
            </div>  
          <div>
        </div>
      </div>
    </div>
  </div>
</div>
