<div class="row-fluid">
  <div class="span9">
    <div class="row-fluid">
      <div class="span12 well">
        <h2><%= @movie.title %></h2>
        <%= @movie.vote_average %> from <%= @movie.vote_count %> voters.

        <h3>Overview</h3>
        <%= @movie.overview %>

        <h3>Tagline</h3>
        <%= @movie.tagline %><br />

        <h3>Images</h3>
        <% @images.each do |image| %>
          <%= image_tag("#{@configuration.base_url}w154#{image['file_path']}") if image['file_path'] %>
        <% end %>

        <h3>Genres</h3>
        <% @movie.genres.each do |genre| %>
          <%= genre['name'] %>
        <% end %>

        <h3>Casts</h3>
        <table class="table table-bordered table-striped table-hover">
          <% @cast.first(5).each do |cast| %>
          <tr>
            <td style="width:15%">
              <%= image_tag("#{@configuration.base_url}w300#{cast['profile_path']}") if cast['profile_path'] %>
            </td>
            <td>
              <%= link_to cast['name'], person_path(cast['id']) %> as <%= cast['character'] %><br />
            </td>
          </tr>
          <% end %>
        </table>

        <h3>Similar Movies</h3>
        <% @similar_movies.each do |movie| %>
          <% if movie %>
            <%= link_to movie_path(movie['id']) do %>
              <%= image_tag("#{@configuration.base_url}w92#{movie['poster_path']}") if movie['poster_path'] %>
            <% end %>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
  <div class="span3">
    <div class="row-fluid">
      <div class="span12 well">
        <div>
          <ul class="nav nav-list author">
            <%= image_tag("#{@configuration.base_url}w154#{@movie.poster_path}") if @movie.poster_path %>
            <li class="nav-header">Budget: </li>
            $<%= number_with_delimiter(@movie.budget, :delimiter => ',') %>
            <li class="nav-header">Revenue: </li>
            $<%= number_with_delimiter(@movie.revenue, :delimiter => ',') %>
            <li class="nav-header">Status: </li>
            <%= @movie.status %><br />
            <li class="nav-header">Runtime: </li>
            <%= @movie.runtime %><br />
            <li class="nav-header">Release Date: </li>
            <%= @movie.release_date.to_date.strftime("%d/%m/%Y") if @movie.release_date %>
            <li class="nav-header">Trailers: </li>
            <% @trailers['youtube'].each do |trailer| %>
              <%= link_to "#{trailer['name']} - #{trailer['size']}", "http://www.youtube.com/watch?v=#{trailer['source']}" %><br />
            <% end %>
          </ul>
        </div>  
      </div>
    </div>
  </div>
</div>