<table class="table table-bordered table-striped">
  <% @page.each do |result| %>
    <tr>
      <td style="width:15%">
        <% if result.image_url.nil? %>
          <img class='img-polaroid' src="http://placehold.it/125x125">
        <% else %>
          <%= link_to stiki_routes.space_page_path(result.space, result) do %>
            <%= image_tag(result.image_url, :class => 'img-polaroid', :size => "125x125") %>
          <% end %>
        <% end %>
      </td>
      <td>
          <h2><%= link_to result.title, stiki_routes.space_page_path(result.space, result) %></h2>
          <p>Last Updated: <%= result.updated_at %></p>
          <p><%= truncate(result.body, :length => 600).html_safe %></p>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @page, :renderer => BootstrapPagination::Rails %>