<style type="text/css">
.thumbnail {
	border: 0px;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}
.container{
	width: auto;
}
.item{
	background-color:whiteSmoke;
	width: 320px;
	height: 380px;
	margin: 5px;
	float: left;
}
</style>
<script type="text/javascript">
$(document).ready(function() {

	$('.row-fluid').isotope({
  		itemSelector : '.item',
  		layoutMode : 'fitRows'
	});

});
</script>

<table class="table table-bordered">
<tr>
	<td></td>
	<td>Name</td>
	<td>Description</td>
	<td></td>
</tr>
<% @results.each do |result| %>
<tr>
	<% if result.image.nil? || result.image.empty? %>
		<td><img class="img-polaroid" src="http://placehold.it/150x150"/></td>
	<% else %>
		<td><%= image_tag(result.image["thumb_url"], :class => 'img-polaroid') %></td>
	<% end %>

    <td><%= result.name %></td>
    <td><%= result.deck %></td>
    <td>              
    <%= form_tag game_path, :method => 'get' do %>
    <p>
        <%= hidden_field_tag(:game, result.name) %>
        <%= submit_tag 'Read More', :name => nil, :class => "btn btn-info" %>
    </p>
    <% end %>
	</td>
</tr>
<% end %>
</table>

<%= will_paginate @results, :renderer => BootstrapPagination::Rails %>