<div class="row-fluid">
	<div class="span9">
		<div class="row-fluid">
			<div class="span12 well">
				<h1><%= @game.name %></h1> <br />
				<%= @game.deck %> <br />
				<%= @game.date_last_updated %> <br />
				<%= @game.expected_release_quarter %> <br />

				<%= @game.description.html_safe %> <br />

				<%= @game.aliases %> <br />
				<%= @game.site_detail_url %> <br />
				<%= @game.api_detail_url %> <br />
				<%= @game.number_of_user_reviews %> <br />
				<%= @game.original_release_date %> <br />
				<%= @game.original_game_rating %> <br />
				<%= @game.expected_release_month %> <br />
				<%= @game.date_added %> <br />
				<%= @game.expected_release_year %> <br />
				<%= @game.id %> <br />
				<%= @game.date_last_updated %> <br />
			</div>
		</div>
	</div>

      <div class="span3">
        <div class="row-fluid">
          <div class="span12 well">
            <div>
              <ul class="nav nav-list author">
                <%= image_tag(@game.image["super_url"], :class => 'img-polaroid') %>
                <li class="nav-header">Game Name: </li>
                <%= @game.name %>
                <li class="nav-header">Release Date: </li>
               
                <% date = DateTime.parse(@game.original_release_date) %>
                <%=  formatted_date = date.strftime('%B %m, %Y ')%>
              </ul>
            </div>  
          <div>
        </div>
      </div>
    </div>
  </div>
</div>
